@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

*{
	box-sizing: border-box;
}

.main{
	height: 100vh;
	/*background-image: url("../images/folder/bg.jpg");*/
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu{
	display: flex;
}

.menu a{
	color: #4a5057;
	font-size: 16px;
	margin: 0px 15px;
	font-family: myriad pro;
	font-weight: 600;
}

.menu img{
	height: 18px;
}

.sign-in{
	width: 100px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid #3d3d3e;
	color: #3d3d3e;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: calibri;
	font-weight: 700;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.sign-in:hover{
	background-color: #4530c3;
	color: #FFFFFF;
	transition: all ease 0.3s;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 60px;
}

.box{
	width: 220px;
	height: 310px;
	border-radius: 5px;
	box-shadow: 2px 6px 30px rgba(0,0,0,0.1);
	background-color: #f6f6f6;
	margin: 30px;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box p{
	font-family: calirbi;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: #3d3d3e;
}

.slide-detail p:nth-child(1){
	font-size: 23px;
	font-weight: 700;
}

.slide-detail p:nth-child(2){
	font-size: 18px;
}

.slide-detail{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
	width: 100%;
}


.user{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #3d3d3e;
	position: absolute;
	left: 20px;
	bottom: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-img01{
	background-image: url("../images/folder/1.jpg");
}

.box-img02{
	background-image: url("../images/folder/2.jpg");
}

.box-img03{
	background-image: url("../images/folder/12.jpg");
}

.box-img04{
	background-image: url("../images/folder/4.jpg");
}

.box-img05{
	background-image: url("../images/folder/17.jpg");
}

.box-img06{
	background-image: url("../images/folder/6.jpg");
}

.box-img07{
	background-image: url("../images/folder/7.jpg");
}

.box-img08{
	background-image: url("../images/folder/8.jpg");
}

.box-img09{
	background-image: url("../images/folder/15.jpg");
}

.box-img10{
	background-image: url("../images/folder/10.jpg");
}

.box-img11{
	background-image: url("../images/folder/18.jpg");
}

.box-img12{
	background-image: url("../images/folder/3.jpg");
}

/*user img ************ */
.user-img01{
	background-image: url("../images/img-1.jpg");
}

.user-img02{
	background-image: url("../images/img-3.jpg");
}

.user-img03{
	background-image: url("../images/img-1.jpg");
}

.user-img04{
	background-image: url("../images/img-1.jpg");
}

.user-img05{
	background-image: url("../images/img-5.jpg");
}

.user-img06{
	background-image: url("../images/img-2.jpg");
}
.g-heading span{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	display: flex;
	background-color: #4530c3;
}
.graphic{
	position: absolute;
	left: 30px;
	bottom: 30px;
	width: 200px;
	font-family: calibri;
}

.g-heading{
	display: flex;
	align-items: center;
}

.g-details{
	font-size: 14px;
	margin: 10px 0px;
	color: #3d3d3e;
}

.g-heading p{
	font-weight: bold;
	font-size: 20px;
	color: #3d3d3e;
	margin: 0px 10px;
	line-height: 25px;
}

.s-heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.s-heading p:nth-child(1){
	font-family: Magmawave Caps;
	font-weight: bold;
	font-size: 25px;
	color: #3d3d3e;
	width: 40%;
	text-align: center;
	margin: 10px
}

.s-heading p:nth-child(2){
	font-family: myriad pro;
	font-size: 14px;
	color: #9f9e9e;
	margin-top: 0px; 
}
.s-heading{
	margin: 30px 0px 30px 0px;
}


.s-box{
	width: 220px;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 1px 2px 12px rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px 5px;
	border-radius: 10px;
}

.s-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.s-icon{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #313131;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.s-box a{
	font-family: myriad pro;
	font-weight: bold;
	color: #313131;
	font-size: 18px;
	margin: 10px 0px;
}

.s-box p{
	font-family: myriad pro;
	color: #313131;
	font-size: 14px;
}

.s-button{
	width: 140px;
	height: 35px;
	border:none;
	outline: none;
	border-radius: 20px;
	color: #4530c3;
	border:1px solid #4530c3;
}

.front-icon{
	background-image: url("../images/front.jpg");
}
.back-icon{
	background-image: url("../images/back.jpg");
}
.seo-icon{
	background-image: url("../images/seo.jpg");
}
.gui-icon{
	background-image: url("../images/gui.jpg");
}
.s-button:hover{
	color: #FFffff;
	background-color: #4530c3;
	transition:  all ease 0.5s;
}

button:active{
	transform: scale(1.1);
}